@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.App h2 {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}
.Search-Form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search-Bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.Search-Button {
  background: #4facfe;
  border: none;
  padding: 10px 20px;
  color: azure;
}

.Recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
